body,h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {margin: 0;padding: 0;}
html, body{-webkit-text-size-adjust: none !important;}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  background:#fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:Arial,"Microsoft Yahei","Helvetica Neue",Helvetica,sans-serif;
}
ol, ul {list-style: none;}
a,del,ins,s,u {text-decoration: none;color: #000000;}
fieldset, img {border: 0;}
abbr, acronym {border: 0;font-variant: normal;}
table { border-collapse: collapse; border-spacing: 0; }
caption, th {text-align: left;}

/*表单系列*/
input, textarea{border:none; outline:none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input, button, textarea,select, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
address, caption, cite, code, dfn,em, strong, th, var, optgroup {font-style: inherit;font-weight: inherit;}
abbr, acronym {border: 0;font-variant: normal;}
input, button, textarea, select {font-size: 100%;}

.block {display:block;}

.fr {
float: right;
}
.fl {
float: left;
}

.clear:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}